.nav {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: teal;
}

.link {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    padding: 0.5rem 0.2rem;
    position: relative;
    transition: color 0.3s ease;
}

.link:hover {
    color: aqua;
}

.active {
    color: rgb(54, 196, 196);
}